*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.block-menu a {
  display: block;
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}
.inline-menu a {
  display: inline;
  background-color: #24f544;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
